/* simplecomment */

body {
	background-image: url("../img/bh.jpg");
}

#main {
	margin-top: 10px;
	color: #fff;
}

.section {
	padding: 10px;
}

/* simplecomment */

.link {
	border-radius: 50px;
}

.link:hover {
	opacity: .7;
}

